@charset "utf-8";

/* skip nav */
.skip-nav {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 9999;
}
.skip-nav li {
  width: 200px;
}
.skip-nav a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #002960;
  text-align: center;
}
.skip-nav a:focus {
  top: 50px;
}

.patra-wrap {
  min-width: 280px;
  background-color: #fff;
}
.grid {
  display: grid;
  grid-auto-flow: row dense;
  gap: 16px;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.col-span2 {
  grid-column: span 2;
}
/* header */
#header {
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 90;
  transition: all 0.3s;
  box-sizing: border-box;
  background-color: #fff;
}

.header-inner {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  position: relative;
  transition: all 0.3s;
}

.header-inner h1 a {
  display: flex;
  width: 112px;
  height: auto;
  background: url(../images/patra_logo.svg) center center / 100% auto no-repeat;
  text-align: left;
  text-indent: -9999px;
}

.gnav-wrap {
  height: 100%;
  flex-flow: row-reverse;
}

#gnav {
  height: 100%;
}
#gnav .gnav-list {
  display: flex;
  height: 100%;
}
#gnav .gnav-list .nav-item .nav-link a {
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 0 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase;
}
#gnav .gnav-list .nav-item .nav-link a:hover,
#gnav .gnav-list .nav-item.is-open .nav-link a,
#gnav .gnav-list .nav-item.active .nav-link a {
  font-weight: 700;
  color: var(--color-blue);
}

.megamenu-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  z-index: 14;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  padding: 0 1000em;
  margin: 0 -1000em;
  background-color: #fff;
}

.nav-item.is-open .megamenu-content {
  visibility: visible;
  opacity: 1;
  top: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 11px 12px;
}
.sub-menu-list {
  padding: 0px 0 38px;
}
.sub-menu > li > a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sub-menu > li {
  flex-shrink: 0;
  max-width: 184px;
  min-width: 162px;
}
.sub-menu > li > a:hover img {
  display: inline-block;
  transform: scale(1.1);
}
.sub-menu > li > a img {
  transition: all 0.3s;
}
.sub-menu > li > a > span {
  display: block;
  width: 80%;
  text-align: center;
  word-break: keep-all;
  line-height: 1.2;
}
.sub-menu > li > a:hover > span {
  color: var(--color-blue);
}
.megamenu-content .view-all {
  margin: 0 -1000em;
}
.megamenu-content .view-all a {
  background-color: var(--color-gray9);
  padding: 16px 1000em;
  transition: all 0.3s;
}
.megamenu-content .view-all a:hover {
  background-color: var(--color-gray8);
}
.gnav-wrap .search-wrap {
  display: flex;
  align-items: center;
}
.search-box {
  position: relative;
}
.search-box .hd-search-input {
  background: #1616161a;
  border-radius: 24px;
  border: 0;
}
.search-box .search-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background: none;
  border: 0;
  padding: 0;
}

.btn-menu {
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  position: relative;
  display: none;
}
.btn-menu:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/layout/i_menu.svg) -40px 0 no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
}

.pc #header.scrolled {
  background-color: #fff;
  height: 80px;
}
.pc .header.scrolled .megamenu-content {
  top: 80px;
}
.scrolled h1 a {
  background-image: url(../images/patra_logo.png);
}

#header.up {
  top: -80px;
  border-bottom: none !important;
}

/* mobile */
.active-overflow-hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

.sub-menu .product-sub {
  display: flex;
  gap: 10px 0;
  flex-wrap: wrap;
}
.sub-menu .product-sub li {
  width: 50%;
}
.sub-menu .product-sub li a {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 10px 0;
  padding: 0;
}

.sub-menu a img {
  max-width: 100%;
}
/*메뉴버튼*/
.m-menu {
  display: none;
}
.toggle-menu {
  height: 23px;
  width: 23px;
  position: relative;
}
.toggle-menu .menu-line,
.toggle-menu:before,
.toggle-menu:after {
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  top: 8px;
  background-color: #252525;
}
.toggle-menu:before,
.toggle-menu:after {
  content: "";
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
.toggle-menu:before {
  transform: translate3d(0, -8px, 0px);
  -webkit-transform: translate3d(0, -8px, 0px);
}
.toggle-menu:after {
  transform: translate3d(0, 8px, 0px);
  -webkit-transform: translate3d(0, 8px, 0px);
}

.toggle-menu.on .menu-line {
  opacity: 0;
}
.toggle-menu.on::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  width: 23px;
  margin-left: 0;
}
.toggle-menu.on::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.sub-menu a {
  font-size: 15px;
  /* padding: 12px 0 12px 16px; */
  color: #303030;
}

/* sub */
.sub-container {
  padding-top: 100px;
}

/* footer */
#footer {
  background-color: #0b111c;
  padding: 40px 0;
  box-sizing: border-box;
  color: var(--color-gray6);
  font-size: 14px;
  font-weight: 500;
}
.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.footer a {
  color: var(--color-gray6);
}
.footer-link {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin: 16px 0 6px;
}
.footer-link a {
  font-weight: 700;
  transition: all 0.3s;
  font-size: 16px;
}
.footer-link a:hover {
  color: var(--color-gray8);
}
.footer-link .vertical-bar {
  display: inline-block;
  border: none;
  width: 1px;
  background-color: var(--color-gray2);
  height: 14px;
  vertical-align: middle;
  margin: 0;
}
.footer-family {
  gap: 0 10px;
}
.footer-family .korea-logo {
  gap: 0 6px;
  padding-right: 10px;
}
.footer-right {
  text-align: right;
}
.footer-right .flex {
  justify-content: end;
}
.footer-tel {
  gap: 0 10px;
}
.footer-email a {
  text-decoration: underline;
}
.footer .footer-address {
  padding-top: 10px;
}
.footer-right dt {
  font-weight: 700;
}
.footer-copy {
  padding-top: 14px;
  color: var(--color-gray3);
  font-weight: 500;
}

/* sub ******************************************************************* */
.sub-banner {
  width: 100%;
  position: relative;
  z-index: 9;
  text-align: center;
  min-height: 280px;
  color: #fff;
}
.sub-banner:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #0b111c66;
  position: absolute;
  top: 0;
  left: 0;
}
.sub-title-wrap {
  position: relative;
  z-index: 10;
  height: 280px;
}
.sub-title-wrap h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.sub-title-info {
  padding-top: 10px;
  font-size: 24px;
}
.sub-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.sub-cont {
  padding: 50px 0;
}
.sub-cont h3.sub-cont-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.sub-link {
  margin: 0 auto;
  position: relative;
  z-index: 9;
  background: #0b111c99;
}
.sub-link .flex > li {
  flex: 1;
  position: relative;
}
.sub-link .flex > li:after {
  content: "";
  display: block;
  width: 1px;
  height: 60%;
  background-color: #ffffff66;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sub-link .flex > li:last-child:after {
  width: 0;
}
.sub-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.1s;
}
.dropdown-header {
  display: none;
}
.sub-link a:hover,
.sub-link a.active {
  font-weight: 700;
}
.breacrumb ol.flex {
  color: #999999;
  align-items: center;
  justify-content: end;
  text-transform: uppercase;
  margin-bottom: 26px;
  /* font-size: 14px; */
}
.breacrumb ol.flex svg {
  margin: 0 6px;
}
.breadcrumb .current-category a {
  color: #161616;
}

/*paging*/
.paging {
  margin-top: 60px;
}
.paging ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging li + li {
  margin-left: 10px;
}
.paging a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 30px;
  height: 30px;
  font-size: 18px;
  color: var(--color-gray1);
}
.paging a:hover {
  border-radius: 4px;
  background-color: var(--color-blue4);
}
.paging a.selected {
  font-weight: 700;
  color: var(--color-blue1);
}
.paging .page a {
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
}
.paging .page a:before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(../images/contents/paging_arr.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
}
.paging .page.prev a:before {
  background-position: 0 0;
}
.paging .page.prev a:hover:before {
  background-position: 0 -52px;
}
.paging .page.prev a.disabled:before,
.paging .page.prev a.disabled:hover:before {
  background-position: 0 -26px;
}

.paging .page.next a:before {
  background-position: -26px 0;
}
.paging .page.next a:hover:before {
  background-position: -26px -52px;
}
.paging .page.next a.disabled:before,
.paging .page.next a.disabled:hover:before {
  background-position: -26px -26px;
}

/* mobile ******************************************************************* */

@media all and (max-width: 1360px) {
  .header-inner {
    margin: 0 80px;
  }
  .footer-inner {
    margin: 0 80px;
  }

  .sub-lnav .lnav-list {
    margin: 0 80px;
  }
}

@media all and (max-width: 1240px) {
  .header-inner {
    margin: 0 20px;
  }
  .footer-inner {
    margin: 0 20px;
  }
  .sub-inner {
    margin: 0 20px;
  }

  .skip-nav {
    display: none;
  }

  #header {
    height: 56px;
    border: none !important;
  }
  #header.up {
    top: -56px;
  }

  .header-inner {
    height: 100%;
  }

  .header-inner h1 a {
    width: 80px;
  }

  /*header 버튼 관련*/
  .m-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
  }
  .gnav-wrap {
    display: none;
  }
  #gnav .gnav-list {
    height: auto;
  }
  #gnav .gnav-list > li.nav-item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
  }
  .gnav-wrap.mo-active {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100vw;
    /* height: calc(100vh - 50px); */
    height: calc(100svh - 56px);
    overflow-y: auto;
    z-index: 9;
    background-color: #fff;
    left: 0;
    top: 56px;
    box-sizing: border-box;
  }
  .gnav-wrap.mo-active #gnav {
    overflow-y: auto;
    padding: 20px;
    padding-top: 0;
    height: auto;
  }
  .gnav-wrap.mo-active #gnav .gnav-list .nav-item .nav-link a {
    height: auto;
    padding: 12px 0;
    position: relative;
  }
  .gnav-wrap.mo-active .gnav {
    height: auto;
  }
  /* 기본 상태 (플러스 기호) */
  .nav-link a b {
    position: relative;
  }
  .nav-link a b::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    position: relative;
  }

  .nav-link a b::before,
  .nav-link a b::after {
    content: "";
    position: absolute;
    background-color: #999999; /* 선 색상 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
  }

  /* 가로선 (항상 표시) */
  .nav-link a b::before {
    width: 12px;
    height: 2px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* 세로선 (플러스 상태에만 표시) */
  .nav-link a b::after {
    width: 2px;
    height: 12px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* active 상태일 때 세로선 숨김 (마이너스 기호) */
  .nav-link a.active b::after {
    height: 0;
  }
  .gnav-wrap.mo-active .gnav-list {
    flex-flow: column;
  }
  .gnav-wrap.mo-active .megamenu-content {
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    margin: 0;
    display: none;
  }
  .gnav-wrap.mo-active .nav-item.active .megamenu-content {
    display: block;
  }
  .gnav-wrap.mo-active .sub-menu:not(.product-sub) {
    display: block;
  }
  .gnav-wrap.mo-active .sub-menu:not(.product-sub) img {
    display: none;
  }
  .gnav-wrap.mo-active .sub-menu.product-sub {
    flex-wrap: wrap;
  }
  .gnav-wrap.mo-active .sub-menu.product-sub li {
    width: 50%;
  }
  .gnav-wrap.mo-active .sub-menu.product-sub li a {
    padding: 0;
  }
  .gnav-wrap.mo-active .sub-menu.product-sub li img {
    max-width: 100%;
  }
  .gnav-wrap.mo-active .megamenu-content .view-all {
    margin: 0;
  }
  .gnav-wrap.mo-active .megamenu-content .view-all a {
    background: #fff;
    padding: 12px 0;
    border: 1px solid #d9d9d9;
    margin: 16px 0;
    gap: 0 16px;
  }
  .gnav-wrap.mo-active .search-wrap {
    padding: 20px;
    background: #fff;
  }
  .gnav-wrap.mo-active .search-wrap .search-box,
  .gnav-wrap.mo-active .search-wrap .search-box input {
    width: 100%;
  }
  .sub-menu-list {
    padding: 0;
    padding-bottom: 20px;
  }
  .sub-menu > li {
    max-width: none;
  }
  .sub-menu > li > a {
    display: block;
    text-align: center;
    padding: 12px 0;
  }
  .sub-menu.product-sub > li > a span {
    text-align: center;
  }
  .sub-menu > li > a > span {
    width: 100%;
    text-align: left;
  }
  .nav-item.is-open .megamenu-content {
    box-shadow: none;
  }
  .sub-menu > li > a:hover img {
    transform: none;
  }
  /*sub*/
  .sub-container {
    padding-top: 56px;
  }

  #footer {
    padding: 32px 0 48px;
  }
  .f-info {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .f-contact {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 16px;
    width: 100%;
  }
  .f-copyright {
    font-size: 13px;
  }
  .f-outer-link {
    position: relative;
    left: initial;
    top: initial;
    display: block;
    margin: 40px 0 20px;
  }
  .f-sns {
    position: relative;
    margin-top: 32px;
  }

  .f-site-group {
    position: relative;
  }
  .f-family-site {
    position: initial;
  }
  .f-family-site button {
    font-size: 14px;
  }
  .f-family-site .family-site-list {
    left: 0;
    width: auto !important;
  }
  .family-site-list ul {
    padding: 20px 0;
  }
  .family-site-list a {
    height: 34px;
  }

  .go-top {
    right: 20px;
    bottom: 20px;
    width: 56px;
    height: 56px;
    background-size: 18px auto;
  }

  .btn-round {
    width: 100%;
  }

  .down-group {
    margin-top: 40px;
  }
  .down-group a {
    margin: 0 0 16px 0;
  }
  .down-group a:last-child {
    margin-bottom: 0;
  }

  .paging {
    margin-top: 40px;
  }
  .paging a {
    width: 24px;
    height: 24px;
    min-width: 24px;
    font-size: 16px;
  }

  .sub-sec-view .sec-title {
    display: none;
  }

  .board-view .view-title .title {
    padding: 0 0 16px 0;
  }
  .board-view .view-title h4 {
    font-size: 18px;
  }
  .board-view .view-title .date {
    padding: 10px 0;
  }
  .board-view .view-detail {
    padding: 20px 0;
  }
  .board-view .view-detail {
    border-color: var(--color-gray9);
  }

  .view-inner-list .title {
    display: none;
  }

  .view-bottom {
    margin-top: 40px;
  }

  /* 투자정보 */
  .finance-layout {
    display: block;
  }

  .finance-layout > .left-title {
    width: auto;
    margin: 0 0 4px 0;
  }
  .finance-layout > .left-title .sub-snav {
    position: relative;
    top: initial !important;
    transition: none;
  }
  .finance-layout .select-group {
    margin-bottom: 24px;
  }

  .sub-snav li {
    padding: 4px 0;
  }

  .board-list table {
    display: block;
  }
  .board-list colgroup {
    display: none;
  }
  .board-list thead {
    display: none;
  }
  .board-list tbody,
  .board-list tr,
  .board-list th,
  .board-list td {
    display: block;
    height: auto;
    padding: 0;
    border: none;
  }
  .board-list tr {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    border-bottom: 1px solid var(--color-gray9);
  }
  .board-list td.no {
    display: none;
  }
  .board-list td.title {
    width: 100%;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .board-list td.title ~ td {
    font-size: 13px;
    line-height: 1.53em;
    color: var(--color-gray6);
    position: relative;
  }
  .board-list td.title + td ~ td {
    display: inline-flex;
    align-items: center;
  }
  .board-list td.title + td ~ td:before {
    display: block;
    content: "";
    width: 1px;
    height: 12px;
    background-color: var(--color-gray8);
    margin: 0 8px;
  }

  .data-unit {
    font-size: 13px;
  }

  .data-table thead th {
    height: auto;
    padding: 14px 12px;
  }
  .data-table tbody th,
  .data-table tfoot th,
  .data-table td {
    height: auto;
    min-height: 54px;
    padding: 15px 12px;
  }

  .data-table.finance colgroup col {
    display: none;
  }
  .data-table.finance colgroup col:nth-child(1),
  .data-table.finance colgroup col:last-child {
    display: table-column;
  }
  .data-table.finance thead th {
    display: none;
  }
  .data-table.finance thead th:first-child,
  .data-table.finance thead th:last-child {
    display: table-cell;
  }
  .data-table.finance tbody td,
  .data-table.finance tfoot td {
    display: none;
  }
  .data-table.finance tbody td:last-child,
  .data-table.finance tfoot td:last-child {
    display: table-cell;
  }

  .con-wrap + .con-wrap {
    margin-top: 40px;
  }

  /* 에러 */
  .sec-error-page .inner:before {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
  }
  .sec-error-page h2 {
    font-size: 18px;
    line-height: 1.33em;
    margin-bottom: 8px;
  }
  .sec-error-page .sub-txt {
    font-size: 15px;
    line-height: 1.6em;
  }
  .sec-error-page .link {
    margin-top: 40px;
  }
  .sec-error-page .item-list {
    padding: 20px;
  }
  .sec-error-page .item-list li {
    font-size: 14px;
    line-height: 1.71em;
  }
  #footer {
    font-size: 12px;
  }
  .footer-link a {
    font-size: 14px;
  }
}

@media all and (max-width: 768px) {
  img {
    max-width: 100%;
  }
  .sub-link {
    position: relative;
  }
  .sub-link ul {
    flex-direction: column;
    display: none; /* 기본적으로는 숨김 */
  }

  .sub-link ul.show {
    display: block; /* 클릭 시 표시 */
    position: absolute;
    top: 57px;
    background-color: #2e3341;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .sub-link ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .sub-link ul li a {
    display: block;
    padding: 15px;
    width: 100%;
  }
  .sub-link .flex > li:after {
    width: 0;
  }

  /* 드롭다운 헤더 스타일 */
  .dropdown-header {
    background-color: #0b111c99;
    color: white;
    padding: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  /* 플러스/마이너스 아이콘 */
  .dropdown-toggle::after {
    content: "+";
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    transition: transform 0.3s ease;
  }

  .dropdown-toggle.active::after {
    content: "-";
  }
}
@media all and (max-width: 640px) {
  .footer-inner > .flex {
    flex-flow: column;
    gap: 20px 0;
  }
  .footer-right .flex {
    justify-content: start;
  }
  .footer-right {
    text-align: left;
  }
}
