@charset "utf-8";

.main-container {
  height: calc(100vh);
  position: relative;
}
.main-section {
  overflow: hidden;
  background-color: #fff;
  z-index: 0;
}

.main-visual {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.main-visual .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.main-visual .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.visual-copy {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 10;
}
.visual-copy .main-copy {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-gray1);
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s 0.4s;
  margin-top: -15%;
}

.main-visual .swiper-slide.swiper-slide-active .main-copy {
  transform: translateY(0);
  opacity: 1;
}

.visual-swiper-control-btn {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: left;
  z-index: 10;
  position: absolute;
  bottom: 40%;
}
.visual-swiper-control-btn .flex {
  gap: 0 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.visual-swiper-control-btn button {
  background-color: #1616161a;
  color: #fff;
  line-height: 0;
  font-size: 0;
  width: 62px;
  height: 62px;
  transition: all 0.3s;
}
.visual-swiper-control-btn button:hover {
  background-color: #1616162a;
}
.visual-swiper-control-btn button:active {
  background-color: #1616163a;
}
.visual-swiper-control-btn button svg {
  transition: all 0.3s;
}
.visual-swiper-control-btn button:active svg {
  transform: scale(0.8);
}
.visual-swiper-pagination {
  position: absolute;
  bottom: 20%;
  width: 100%;
  z-index: 9;
}
.visual-swiper-pagination .swiper-pagination {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0 12px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.visual-swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background: transparent;
  position: relative;
  opacity: 1;
  transition: all 0.3s;
}
.visual-swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s;
}
.visual-swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
}

/* mobile ******************************************************************* */

@media all and (max-width: 1360px) {
  .visual-copy,
  .visual-swiper-control-btn .flex,
  .visual-swiper-pagination .swiper-pagination {
    padding: 0 80px;
  }
}

@media all and (max-width: 1099.99px) {
  html:not(.no-js) [data-aos="fade-up"] {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  .main-section {
    height: auto !important;
  }
  .main-section .main-inner {
    padding: 40px 0;
    margin: 0 20px;
  }

  /*page1*/
  .main-visual {
    position: relative;
  }

  .visual-copy,
  .visual-swiper-control-btn .flex,
  .visual-swiper-pagination .swiper-pagination {
    padding: 0 20px;
    margin: 0;
  }

  .sec-visual,
  .sec-visual .main-visual {
    height: 100vh !important;
  }

  .visual-copy .main-copy {
    font-size: 42px;
    line-height: 1.3em;
    margin-top: -26%;
  }
  .visual-copy .main-copy + p {
    font-size: 28px;
  }

  .visual-swiper-control-btn button {
    width: 48px;
    height: 48px;
  }
  .visual-swiper-control-btn button svg {
    width: 32px;
    height: 32px;
  }
}
@media all and (max-width: 640px) {
}
@media all and (max-width: 532px) {
  .visual-swiper-control-btn {
    display: none;
  }
  .visual-swiper-pagination {
    bottom: 10%;
  }
  .visual-swiper-pagination .swiper-pagination {
    justify-content: center;
    padding: 0;
  }
}
