@charset "utf-8";
.sub-banner {
  background: url(../images/sub-title-banner0.png) center center / cover
    no-repeat;
}
.sub-title-wrap {
  height: 360px;
}
.sub-banner .sub-inner {
  height: 100%;
}
.sub-banner .sub-inner .product-link-list {
  background-color: #0b111c99;
  padding: 28px 32px;
  height: 100%;
  min-width: 388px;
  text-transform: uppercase;
}
.product-link-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding-bottom: 12px;
  text-align: left;
  border-bottom: 1px solid #fff;
}
.product-link {
  padding-top: 16px;
}
.product-link li {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.product-link li svg {
  opacity: 0;
  transition: all 0.3s;
}
.product-link li a:hover + svg,
.product-link li a.active + svg {
  opacity: 1;
}
.product-link a {
  color: #fff;
  font-size: 16px;
  text-align: left;
  display: block;
  padding: 6px 0;
}
.product-link a.active,
.product-link a:hover {
  font-weight: 700;
}
.product-link-subtitle {
  padding: 32px;
  flex: 1;
  text-align: left;
  display: flex;
  flex-flow: column;
  height: 100%;
  text-transform: uppercase;
}
.prize-list.flex {
  margin-top: auto;
  justify-content: end;
  gap: 0 14px;
}
.prize-list.flex li {
  border-radius: 50%;
  background-color: #ffffff80;
  height: 69px;
  width: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list-img .grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.product-img {
  display: flex;
  flex-flow: column;
  gap: 16px 0;
  font-size: 18px;
}
.product-img a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
.product-par .product-img a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #707070;
  opacity: 0.085;
  width: 100%;
  height: 100%;
}

.product-img span {
  padding-bottom: 16px;
}
.product-img a > div.product-img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-img a:hover img {
  transform: scale(1.05);
}

/*상세페이지*/
.product-view-wrap {
  padding-top: 16px;
}
.product-view-wrap > .flex {
  gap: 0 10px;
}
.product-img-left {
  width: 50%;
}
.product-img-left .swiper,
.product-img-left .swiper-wrapper,
.product-img-left .swiper-slide img {
  width: 100%;
}
.product-img-left .swiper-slide img {
  max-width: 590px;
}
.product-img-right {
  width: 50%;
}
.product-img-right .swiper-slide {
  text-align: center;
}
.product-img-right .swiper-slide img {
  width: 100%;
}
.product-img-right .product-nm {
  padding-top: 16px;
}
.product-img-right .product-nm h2,
.product-img-right .product-nm h3 {
  font-size: 48px;
  font-weight: 400;
}
.product-img-wrap .swiper-thumb-wrap {
  margin-top: auto;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.product-img-wrap .swiper-thumb-wrap .swiper-thumb-btn {
  justify-content: end;
  gap: 0 5px;
  margin-bottom: 10px;
}
.product-img-wrap .swiper-thumb-wrap .swiper-thumb-btn button {
  width: 62px;
  height: 62px;
  background: #00000033;
  color: #fff;
}
.swiper-thumb-wrap .swiper,
.swiper-thumb-wrap .swiper-wrapper {
  width: 100%;
  height: fit-content;
}
.swiper-thumb-wrap .swiper-slide {
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.swiper-thumb-wrap .swiper-slide:hover {
  border: 1px solid #d9d9d9;
}
.swiper-thumb-wrap .swiper-slide img {
  max-width: 183px;
  width: 100%;
}
.swiper-thumb-wrap .swiper-pagination {
  position: unset;
  width: 100%;
}

.swiper-thumb-wrap .swiper-scrollbar {
  background: #e6e6e6;
}

.swiper-thumb-wrap .swiper-container-horizontal > .swiper-scrollbar {
  height: 4px;
  width: 100%;
  border-radius: 0;
  margin-top: 10px;
}
.swiper-thumb-wrap
  .swiper-container-horizontal
  > .swiper-scrollbar
  .swiper-scrollbar-drag {
  background-color: #999999;
  border-radius: 0;
}

/*시리즈포인트*/
.product-view-wrap .section {
  margin: 52px 0;
  display: flex;
  align-items: start;
  gap: 0 36px;
  position: relative;
}
.product-view-wrap .section .section-header {
  width: 170px;
}

.product-view-wrap .section .section-title span {
  font-size: 24px;
  font-weight: 700;
}

.product-view-wrap .section .section-content {
  flex: 1;
  border-top: 1px solid #d9d9d9;
  margin-top: 16px;
  padding: 16px 0;
}
.product-view-wrap .grid {
  display: grid;
  grid-auto-flow: row dense;
  gap: 16px;
}
.section-content.award.flex {
  gap: 0 12px;
  justify-content: start;
}
.section-content.award.flex li img {
  max-width: 100%;
}

.detail-img.border {
  border: 1px solid #d9d9d9;
}
.detail-img img {
  width: 100%;
}
.detail-img + p {
  padding: 8px 0;
}
/*color*/
.color-title {
  font-size: 18px;
  color: #656565;
  padding: 6px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  margin-bottom: 12px;
  display: inline-block;
}
.color-wrap .back-color:not(:first-child) {
  margin-top: 24px;
}
.color-wrap .back-color p span {
  display: block;
  font-size: 0.9em;
}
.color-wrap .back-color .grid {
  overflow-x: auto;
}
.color-wrap .back-color .grid li {
  min-width: 100px;
}
.section.accordion-group .section-toggle {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 0;
  background: #fff;
  padding-left: 6px;
  color: #999999;
  cursor: pointer;
}
.project-fancy a {
  position: relative;
  transition: all 0.3s;
}
.project-fancy a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b111c66;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='m21 21-4.3-4.3'/%3E%3C/svg%3E");
  opacity: 0;
  transition: opacity 0.3s;
}
.project-fancy a:hover:after {
  opacity: 1;
}

@media all and (max-width: 1240px) {
  .sub-banner .sub-inner {
    margin: 0;
  }
  .product-view-wrap .section {
    flex-flow: column;
  }
  .product-view-wrap .section .section-header,
  .product-view-wrap .section .section-content {
    width: 100%;
  }

  .product-img {
    flex-flow: column-reverse;
  }

  .product-img-left {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .product-img-right {
    flex-direction: column-reverse;
    width: 100%;
  }
  .product-img-right .product-nm {
    text-align: center;
    padding: 16px 0;
  }

  .product-img-wrap .swiper-thumb-wrap {
    position: unset;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .product-link-subtitle {
    align-items: center;
    justify-content: center;
    padding: 32px 20px 75px 20px;
    text-align: center;
  }
  .sub-title-info {
    font-size: 18px;
  }
  .sub-banner .sub-inner .product-link-list {
    position: absolute;
    bottom: 0;
    height: 60px;
    left: 0;
    width: 100%;
    min-width: auto;
    padding: 0;
    background-color: transparent;
  }
  .swiper-thumb-btn {
    display: none;
  }
  .product-link-title {
    background-color: #0b111c99;
    color: white;
    padding: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  .product-link-title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background: url(/images/ico_arw_up_x32_w.svg) no-repeat 0 0 / 32px;
    transform: rotate(180deg);
  }
  .product-link-list.is-open .product-link-title:after {
    transform: rotate(0);
  }
  .product-link-list.is-open .product-link {
    display: block;
  }
  .product-link {
    display: none;
    background-color: #2e3341;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    padding: 0;
  }
  .product-link li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .product-link li a {
    display: block;
    padding: 15px;
    width: 100%;
  }
  .product-link li svg {
    display: none;
  }
  .grid-col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-fancy.grid-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (max-width: 576px) {
}
