<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />

    <!--네이버 서치어드바이저-->
    <meta content="" name="naver-site-verification" />

    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="description" content="" />

    <!-- iOS 아이콘 설정 -->
    <link rel="apple-touch-icon" sizes="180x180" href="icon.png" />

    <!-- iOS 상태바 색상 설정 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <!-- Android에서 PWA 기능 활성화 -->
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Chrome에서 자동 전화번호 링크 방지 -->
    <meta name="format-detection" content="telephone=no" />
    <!-- PWA (Progressive Web App) 관련 설정 -->
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- favicon 설정 -->

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/common.css" type="text/css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/aos.css" type="text/css" />

    <!-- JS -->
    <script src="/js/jquery-3.6.4.min.js"></script>

    <script src="/js/aos.js"></script>
    <script src="/js/ui.js"></script>

    <title>patra</title>
  </head>
  <body>
    <div class="patra-wrap">
      <div class="skip-nav">
        <ul>
          <li><a href="#container">본문 바로가기</a></li>
          <li><a href="#gnav">주메뉴 바로가기</a></li>
          <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
      </div>
      <header id="header" class="header">
        <div class="header-inner">
          <h1><a href="">파트라</a></h1>
          <div class="m-menu">
            <div id="js-toggle" class="toggle-menu">
              <div class="menu-line"></div>
            </div>
          </div>
          <div class="gnav-wrap flex align-center">
            <nav id="gnav">
              <ul class="gnav-list">
                <li class="nav-item is-parent">
                  <span class="nav-link">
                    <a href="" class="en">product</a>
                  </span>
                  <div class="megamenu-content">
                    <div class="sub-menu-list">
                      <ul class="sub-menu flex justify-center">
                        <li>
                          <a href="/view/product/product-list.html">
                            <img src="/images/nav-sub/product1.png" alt="" />
                            <span>OFFICE CHAIR</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product2.png" alt="" />
                            <span>MULTIPURPOSE CHAIR</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product3.png" alt="" />
                            <span>WAITING CHAIR</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product4.png" alt="" />
                            <span>STOOL</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product5.png" alt="" />
                            <span>TABLES</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product6.png" alt="" />
                            <span>ACCESORIES</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="view-all">
                      <a href="" class="flex items-center justify-center">
                        <span>VIEW ALL</span>
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="nav-item is-parent">
                  <span class="nav-link">
                    <a href="" class="en">library</a>
                  </span>
                  <div class="megamenu-content">
                    <div class="sub-menu-list">
                      <ul class="sub-menu flex justify-center">
                        <li>
                          <a href="/view/library/catalogue.html">
                            <img src="/images/nav-sub/library1.png" alt="" />
                            <span>CATALOGUE</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/projects.html">
                            <img src="/images/nav-sub/library2.png" alt="" />
                            <span>PROJECT</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/award.html">
                            <img src="/images/nav-sub/library3.png" alt="" />
                            <span>AWARDS AND CERTIFICATION</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/videos.html">
                            <img src="/images/nav-sub/library4.png" alt="" />
                            <span>VIDEOS</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/download.html">
                            <img src="/images/nav-sub/library5.png" alt="" />
                            <span>2D&3D FILES DOWNLOAD</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="nav-item is-parent active">
                  <span class="nav-link">
                    <a href="" class="en">about us</a>
                  </span>
                  <div class="megamenu-content">
                    <div class="sub-menu-list">
                      <ul class="sub-menu flex justify-center">
                        <li>
                          <a href="/view/about/history.html">
                            <img src="/images/nav-sub/aboutus1.png" alt="" />
                            <span>OUR HISTORY</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/about/organization.html">
                            <img src="/images/nav-sub/aboutus2.png" alt="" />
                            <span>ORGANIZATION</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/about/randd.html">
                            <img src="/images/nav-sub/aboutus3.png" alt="" />
                            <span>R&D</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/about/network.html">
                            <img src="/images/nav-sub/aboutus4.png" alt="" />
                            <span>GLOBAL NETWORK</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <span class="nav-link">
                    <a href="/view/contact.html" class="en">contact us</a>
                  </span>
                </li>
              </ul>
            </nav>
            <div class="search-wrap">
              <div class="search-box">
                <form action="">
                  <label for="searchItem" class="hidden">검색어입력</label>
                  <input id="searchItem" class="hd-search-input" type="text" />
                  <button type="submit" class="search-btn" title="검색">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="11" cy="11" r="8" />
                      <path d="m21 21-4.3-4.3" />
                    </svg>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--모바일 nav-->
        <div class="m-gnav-wrap">
          <nav id="m-gnav" class="m-gnav">
            <ul class="m-gnav-list">
              <li class="menu_item has_sub">
                <a href="javascript:void(0);" class="">
                  <span>product</span>
                </a>
                <div class="sub-menu">
                  <ul>
                    <li>
                      <a href="/view/product/product-list.html">office chair</a>
                    </li>
                    <li><a href="">muiltipurpose chair</a></li>
                    <li><a href="">waiting chair</a></li>
                    <li><a href="">stool</a></li>
                    <li><a href="">tables</a></li>
                    <li><a href="">accesories</a></li>
                  </ul>
                </div>
              </li>
              <li class="menu_item has_sub">
                <a href="javascript:void(0);" class="">
                  <span>library</span>
                </a>
                <div class="sub-menu">
                  <ul>
                    <li>
                      <a href="/view/library/catalogue.html">catalogue</a>
                    </li>
                    <li>
                      <a href="/view/library/projects.html">projects</a>
                    </li>
                    <li>
                      <a href="/view/library/award.html">
                        awards and certifications
                      </a>
                    </li>
                    <li><a href="/view/library/videos.html">videos</a></li>
                    <li>
                      <a href="/view/library/download.html">
                        2D&3D files download
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu_item has_sub">
                <a href="javascript:void(0);" class="">
                  <span>about us</span>
                </a>
                <div class="sub-menu">
                  <ul>
                    <li>
                      <a href="/view/about/history.html">our history</a>
                    </li>
                    <li>
                      <a href="/view/about/organization.html">organization</a>
                    </li>
                    <li><a href="/view/about/randd.html">R&D</a></li>
                    <li>
                      <a href="/view/about/network.html">global network</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="/view/contact.html">contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="container" class="container">
        <!--섹션영역-->
        <div class="sub-container">
          <link rel="stylesheet" href="/css/about.css" />
          <div class="sub-banner">
            <div
              class="sub-title-wrap flex flex-column items-center justify-center"
            >
              <h2>ABOUT US</h2>
              <div class="sub-title-info">OUR HISTORY</div>
            </div>
            <div class="sub-link">
              <ul class="flex sub-inner">
                <li>
                  <a href="/view/about/history.html" class="active">
                    OUR HISTORY
                  </a>
                </li>
                <li>
                  <a href="/view/about/organization.html">organization</a>
                </li>
                <li>
                  <a href="/view/about/randd.html">R&D</a>
                </li>
                <li><a href="/view/about/network.html">global network</a></li>
              </ul>
            </div>
          </div>
          <div class="sub-cont">
            <div class="sub-inner">
              <h3 class="sub-cont-title">Corporate Overview</h3>
              <p class="sub-cont-title-info">
                PATRA was founded in 1985 for making finished chair in Korea.
                <br />
                We hope to share the following our mission, business policy and
                core values with our customers.
              </p>
              <div class="history-wrap">
                <div class="history-year-wrap">
                  <div class="year">2020~</div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <dl>
                        <dt>2021.04</dt>
                        <dd>
                          MIKA REDDOT Design Award
                          <br />
                          LAVO IF Finalist
                        </dd>
                      </dl>
                      <dl>
                        <dt>2021.02</dt>
                        <dd>PATRA LOUNGE OPEN</dd>
                      </dl>
                      <dl>
                        <dt>2020.09</dt>
                        <dd>
                          T6, RUDA GOOD DESIGN
                          <br />
                          MIKA IDEA
                          <br />
                          MUSE, RUDA, ENNA PIN UP awarded
                          <br />
                          L2
                        </dd>
                      </dl>
                      <dl>
                        <dt>2020.02</dt>
                        <dd>
                          Representative Director of Korea Awarded
                          <br />
                          MIKA IF DESIGN AWARD
                        </dd>
                      </dl>
                    </div>
                    <div class="year-right">
                      <img src="/images/history1.jpg" alt="" />
                      <img src="/images/history2.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="history-year-wrap">
                  <div class="year">2019~2017</div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <img src="/images/history3.jpg" alt="" />
                      <img src="/images/history4.jpg" alt="" />
                    </div>
                    <div class="year-right">
                      <dl>
                        <dt>2019.12</dt>
                        <dd>
                          SELECTED AS THE BEST VALUE SME
                          <br />
                          CERTIFIED BY GYEONGGI-DO
                        </dd>
                      </dl>
                      <dl>
                        <dt>2019.11</dt>
                        <dd>
                          HEAD OFFICE RELOCATION
                          <br />
                          (ANSAN-> YONGIN)
                        </dd>
                      </dl>
                      <dl>
                        <dt>2019.09</dt>
                        <dd>MIKA GOOD DESIGN AWARD, PIN UP AWARD</dd>
                      </dl>
                      <dl>
                        <dt>2019.07</dt>
                        <dd>
                          MONO Furniture Series
                          <br />
                          OLLA, VOLF IDEA
                        </dd>
                      </dl>
                      <dl>
                        <dt>2019.03</dt>
                        <dd>
                          OLLA, VOLF
                          <br />
                          POLY Designated as Excellent Product by
                          <br />
                          Public Procurement Service
                        </dd>
                      </dl>
                      <dl>
                        <dt>2019.02</dt>
                        <dd>POLY IF DESIGN AWARD</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <dl>
                        <dt>2018.12</dt>
                        <dd>
                          POLY, VOLF-
                          <br />
                          CHICAGO GOOD DESIGN AWARD
                        </dd>
                      </dl>
                      <dl>
                        <dt>2018.11</dt>
                        <dd>
                          T7-GOOD DESIGN
                          <br />
                          Ministry of SMEs and Startups Award
                          <br />
                          POLY-GOOD DESIGN,
                          <br />
                          GERMAN DESIGN AWARD
                          <br />
                          T7, POLY, OLLA, ALP, VOLF, T6-PIN UP AWARD
                        </dd>
                      </dl>
                      <dl>
                        <dt>2018.10</dt>
                        <dd>
                          POLY, MOD, MOD air, MARIN Conference chair
                          <br />
                          LUMI, MOD air, CUBE mesh -
                          <br />
                          Acquired Eco Mark
                        </dd>
                      </dl>
                      <dl>
                        <dt>2018.09</dt>
                        <dd>Launching ZIUM Mall</dd>
                      </dl>
                      <dl>
                        <dt>2018.08</dt>
                        <dd>MIO</dd>
                      </dl>
                      <dl>
                        <dt>2018.06</dt>
                        <dd>
                          LUMI-GOOD DESIGN, PIN UP awarded
                          <br />
                          Selected as Global Leading Company
                          <br />
                          L1 - Designated as Excellent Product by
                          <br />
                          Public Procurement Service
                        </dd>
                      </dl>
                      <dl>
                        <dt>2017.12</dt>
                        <dd>
                          Designated by the Public Procurement Service
                          <br />
                          LUMI - GOOD DESIGN, PIN UP awarded
                        </dd>
                      </dl>
                      <dl>
                        <dt>2017.11</dt>
                        <dd>
                          LUMI
                          <br />
                          PATRA MUSEUM open
                        </dd>
                      </dl>
                      <dl>
                        <dt>2017.07</dt>
                        <dd>Greenguard Certification</dd>
                      </dl>
                      <dl>
                        <dt>2017.05</dt>
                        <dd>MARIN-Acquired Eco Mark</dd>
                      </dl>
                      <dl>
                        <dt>2017.03</dt>
                        <dd>ΟΚΝΟ</dd>
                      </dl>
                      <dl>
                        <dt>2017.01</dt>
                        <dd>
                          KS certification (KS G 4203/KS G 4215)
                          <br />
                          KYLE-Acquired Eco Mark
                        </dd>
                      </dl>
                    </div>
                    <div class="year-right">
                      <img src="/images/history5.jpg" alt="" />
                      <img src="/images/history6.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="history-year-wrap">
                  <div class="year">2010~2016</div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <img src="/images/history3.jpg" alt="" />
                      <img src="/images/history4.jpg" alt="" />
                    </div>
                    <div class="year-right">
                      <dl>
                        <dt>2016.10</dt>
                        <dd>L1, T5</dd>
                      </dl>
                      <dl>
                        <dt>2016.08</dt>
                        <dd>GEMINI - Acquired Eco Mark</dd>
                      </dl>
                      <dl>
                        <dt>2016.06</dt>
                        <dd>MARIN</dd>
                      </dl>
                      <dl>
                        <dt>2015.12</dt>
                        <dd>GEMINI-PIN UP design awarded</dd>
                      </dl>
                      <dl>
                        <dt>2015.11</dt>
                        <dd>
                          LIBRA, MOD, FORTIS, CUBE, SKIN -
                          <br />
                          Acquired Eco Mark
                        </dd>
                      </dl>

                      <dl>
                        <dt>2015.03</dt>
                        <dd>
                          Selected as an IP Star company
                          <br />
                          GEMINI Released children's chairs
                        </dd>
                      </dl>
                      <dl>
                        <dt>2015.01</dt>
                        <dd>FLO, FLEX, FRODO-Acquired Eco Mark</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <dl>
                        <dt>2014.12</dt>
                        <dd>
                          Developed LIBRA SWIVEL CHAIR
                          <br />
                          LIBRA GOOD DESIGN win the grand prize
                          <br />
                          <span class="text-gray">
                            (from Public Procurement Service in KOREA)
                          </span>
                        </dd>
                      </dl>
                      <dl>
                        <dt>2014.08</dt>
                        <dd>
                          Developed Stacking Chair MOD
                          <br />
                          FORTIS, CUBE, SKIN ECO friendly mark
                          <br />
                          CITY_Appointed Excellent Product
                          <br />
                          <span class="text-gray">
                            (Public Procurement Service in KOREA)
                          </span>
                        </dd>
                      </dl>
                      <dl>
                        <dt>2014.06</dt>
                        <dd>
                          LIBRA-Ergonomic Design Award
                          <br />
                          MONO, CITY-ECO friendly mark
                          <br />
                          FORTIS, CUBE, SKIN -Appointed Excellent Product
                          <br />
                          <span class="text-gray">
                            (Public Procurement Service in KOREA)
                          </span>
                        </dd>
                      </dl>
                      <dl>
                        <dt>2013.10</dt>
                        <dd>Introduction of first executive chair KYLE</dd>
                      </dl>
                      <dl>
                        <dt>2012.08</dt>
                        <dd>Change the companyname to PATRA</dd>
                      </dl>
                    </div>
                    <div class="year-right">
                      <img src="/images/history5.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="history-year-wrap">
                  <div class="year">2000~2009</div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <img src="/images/history3.jpg" alt="" />
                      <img src="/images/history4.jpg" alt="" />
                    </div>
                    <div class="year-right">
                      <dl>
                        <dt>2009.11</dt>
                        <dd>Established Patra China - China Domestic Sales</dd>
                      </dl>
                      <dl>
                        <dt>2008.03</dt>
                        <dd>Introduction of first table TO</dd>
                      </dl>
                      <dl>
                        <dt>2007.08</dt>
                        <dd>ISO14001 Certified</dd>
                      </dl>
                      <dl>
                        <dt>2006.05</dt>
                        <dd>Established Chair R&D Center in Seoul</dd>
                      </dl>
                      <dl>
                        <dt>2005.12</dt>
                        <dd>ISO9001 Certified</dd>
                      </dl>

                      <dl>
                        <dt>2003.08</dt>
                        <dd>Started to run Chines plants</dd>
                      </dl>
                      <dl>
                        <dt>2003.07</dt>
                        <dd>Transferred the private company in corporation</dd>
                      </dl>
                      <dl>
                        <dt>2003.06</dt>
                        <dd>Introduction of first swivel chair SKIN</dd>
                      </dl>
                      <dl>
                        <dt>2001.01</dt>
                        <dd>
                          Introduction of our first designated item,
                          <br />
                          AMIGO stack chair to public market
                        </dd>
                      </dl>
                      <dl>
                        <dt>2000.12</dt>
                        <dd>Established Patra Corp. of oversea sales rep.</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="history-year-wrap">
                  <div class="year">2000~2009</div>
                  <div class="flex year-info">
                    <div class="year-left">
                      <img src="/images/history3.jpg" alt="" />
                      <img src="/images/history4.jpg" alt="" />
                    </div>
                    <div class="year-right">
                      <dl>
                        <dt>1994.04</dt>
                        <dd>
                          Strated new division of Metal Working Procedure
                          <br />
                          Moved to Ansan City
                        </dd>
                      </dl>
                      <dl>
                        <dt>1984.06</dt>
                        <dd>Established Hyundai Metal of Plating Factory</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer id="footer" class="footer">
        <div class="footer-inner">
          <div class="flex justify-between">
            <div class="footer-left">
              <div class="footer-logo">
                <img src="/images/patra_f_logo.png" alt="" />
              </div>
              <div class="footer-link">
                <a href="">ABOUT US</a>
                <hr
                  class="vertical-bar inline-block border-none w-[1px] h-3 bg-[#666]"
                />
                <a href="">CONTACT US</a>
              </div>
              <div class="footer-family flex items-center">
                <span>Family site</span>
                <div class="flex items-center korea-logo">
                  <img src="/images/korea.png" alt="" />

                  PATRA
                </div>
                <a href="">Site map</a>
              </div>
            </div>
            <div class="footer-right">
              <div class="flex items-center footer-tel">
                <dl class="flex items-center">
                  <dt>TEL :</dt>
                  <dd>+82-2-469-2214</dd>
                </dl>
                <dl class="flex items-center">
                  <dt>FAX :</dt>
                  <dd>+82-2-469-2216</dd>
                </dl>
              </div>
              <div class="flex items-center">
                <dl class="flex items-center">
                  <dt>E-MAIL :</dt>
                  <dd class="footer-email">
                     
                    <a href="">info@patrainc.com</a>
                     / 
                    <a href="">seoul@patrainc.com</a>
                  </dd>
                </dl>
              </div>
              <p class="footer-address">
                118-22, Wanjangcheon-ro, Namsa-eup, Cheoin-gu,
                <br />
                Yongin-si, Gyeonggi-do, 17121, Republic of Korea
              </p>
            </div>
          </div>
          <p class="footer-copy">
            Copyright © 2025 Patra Inc. All rights reserved.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
