<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />

    <!--네이버 서치어드바이저-->
    <meta content="" name="naver-site-verification" />

    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="description" content="" />

    <!-- iOS 아이콘 설정 -->
    <link rel="apple-touch-icon" sizes="180x180" href="icon.png" />

    <!-- iOS 상태바 색상 설정 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <!-- Android에서 PWA 기능 활성화 -->
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Chrome에서 자동 전화번호 링크 방지 -->
    <meta name="format-detection" content="telephone=no" />
    <!-- PWA (Progressive Web App) 관련 설정 -->
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- favicon 설정 -->

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/common.css" type="text/css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/aos.css" type="text/css" />

    <!-- JS -->
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <script src="https://assets.codepen.io/16327/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/lenis@1.2.3/dist/lenis.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/ui.js"></script>

    <title>patra</title>
  </head>
  <body>
    <div class="patra-wrap">
      <div class="skip-nav">
        <ul>
          <li><a href="#container">본문 바로가기</a></li>
          <li><a href="#gnav">주메뉴 바로가기</a></li>
          <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
      </div>
      <!-- HTML 부분 -->
      <header id="header" class="header">
        <div class="header-inner">
          <h1><a href="/index.html">파트라</a></h1>
          <div class="m-menu">
            <div id="js-toggle" class="toggle-menu">
              <div class="menu-line"></div>
            </div>
          </div>
          <div class="gnav-wrap flex align-center">
            <div class="search-wrap">
              <div class="search-box">
                <form action="">
                  <label for="searchItem" class="hidden">검색어입력</label>
                  <input id="searchItem" class="hd-search-input" type="text" />
                  <button type="submit" class="search-btn" title="검색">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="11" cy="11" r="8" />
                      <path d="m21 21-4.3-4.3" />
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            <nav id="gnav" data-lenis-prevent>
              <ul class="gnav-list">
                <li class="nav-item is-parent">
                  <span class="nav-link">
                    <a href="javascript:void(0);" class="en"><b>product</b></a>
                  </span>
                  <div class="megamenu-content">
                    <div class="sub-menu-list">
                      <ul class="sub-menu flex justify-center product-sub">
                        <li>
                          <a href="/view/product/product-list.html">
                            <img src="/images/nav-sub/product1.png" alt="" />
                            <span>OFFICE CHAIR</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product2.png" alt="" />
                            <span>MULTIPURPOSE CHAIR</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product3.png" alt="" />
                            <span>WAITING CHAIR</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product4.png" alt="" />
                            <span>STOOL</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product5.png" alt="" />
                            <span>TABLES</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="/images/nav-sub/product6.png" alt="" />
                            <span>ACCESORIES</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="view-all">
                      <a href="" class="flex items-center justify-center">
                        <span>VIEW ALL</span>
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="nav-item is-parent">
                  <span class="nav-link">
                    <a href="javascript:void(0);" class="en"><b>library</b></a>
                  </span>
                  <div class="megamenu-content">
                    <div class="sub-menu-list">
                      <ul class="sub-menu flex justify-center">
                        <li>
                          <a href="/view/library/catalogue.html">
                            <img src="/images/nav-sub/library1.png" alt="" />
                            <span>CATALOGUE</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/projects.html">
                            <img src="/images/nav-sub/library2.png" alt="" />
                            <span>PROJECT</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/award.html">
                            <img src="/images/nav-sub/library3.png" alt="" />
                            <span>AWARDS AND CERTIFICATION</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/videos.html">
                            <img src="/images/nav-sub/library4.png" alt="" />
                            <span>VIDEOS</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/library/download.html">
                            <img src="/images/nav-sub/library5.png" alt="" />
                            <span>2D&3D FILES DOWNLOAD</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="nav-item is-parent active">
                  <span class="nav-link">
                    <a href="javascript:void(0);" class="en"><b>about us</b></a>
                  </span>
                  <div class="megamenu-content">
                    <div class="sub-menu-list">
                      <ul class="sub-menu flex justify-center">
                        <li>
                          <a href="/view/about/history.html">
                            <img src="/images/nav-sub/aboutus1.png" alt="" />
                            <span>OUR HISTORY</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/about/organization.html">
                            <img src="/images/nav-sub/aboutus2.png" alt="" />
                            <span>ORGANIZATION</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/about/randd.html">
                            <img src="/images/nav-sub/aboutus3.png" alt="" />
                            <span>R&D</span>
                          </a>
                        </li>
                        <li>
                          <a href="/view/about/network.html">
                            <img src="/images/nav-sub/aboutus4.png" alt="" />
                            <span>GLOBAL NETWORK</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <span class="nav-link">
                    <a href="/view/contact.html" class="en">contact us</a>
                  </span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <div id="container" class="container">
        <!--섹션영역-->
        <div class="sub-container">
          <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
          <script src="/js/swiper-bundle.min.js"></script>
          <link rel="stylesheet" href="/css/about.css" />

          <div class="sub-banner">
            <div
              class="sub-title-wrap flex flex-column items-center justify-center"
            >
              <h2 data-aos="fade-up" data-aos-delay="200">ABOUT US</h2>
              <div
                class="sub-title-info"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                R&D
              </div>
            </div>
            <div class="sub-link">
              <div class="dropdown-header d-md-none">
                <span>R&D</span>
                <span class="dropdown-toggle"></span>
              </div>
              <ul class="flex sub-inner">
                <li>
                  <a href="/view/about/history.html">OUR HISTORY</a>
                </li>
                <li>
                  <a href="/view/about/organization.html">organization</a>
                </li>
                <li>
                  <a href="/view/about/randd.html" class="active">R&D</a>
                </li>
                <li><a href="/view/about/network.html">global network</a></li>
              </ul>
            </div>
          </div>
          <div class="sub-cont">
            <div class="">
              <div class="rnd-wrap">
                <div class="rnd-section01">
                  <h3
                    class="sub-cont-title"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    PATRA R&D Center
                  </h3>
                  <p
                    class="sub-cont-title-info"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    Experience the cutting-edge technology of Patra,
                    <br />
                    recognized through globally prestigious design awards and
                    verified
                    <br />
                    for its safety and quality according to BIFMA standard.
                  </p>

                  <div
                    class="rnd-center-swiper"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img
                          src="/images/about/rndbg01.jpg"
                          alt="파트라 용인공장"
                        />

                        <div class="inner">
                          <div class="txt01">R&D Center Design Team</div>
                          <div class="txt02">
                            <p>
                              Our design team is in charge of developing chair
                              and furniture designs.
                            </p>
                            <p>
                              We stay ahead of modern office design trends by
                              actively engaging in
                              <br />
                              global design events and refining our concepts to
                              fit contemporary workspaces.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="/images/about/rndbg02.jpg"
                          alt="파트라 용인공장"
                        />

                        <div class="inner">
                          <div class="txt01">R&D Center Engineering Team</div>
                          <div class="txt02">
                            <p>
                              Our engineering team focuses on creating
                              high-quality products by researching ergonomic
                              structures and mechanisms that accommodate the
                              increasing complexity and
                              <br />
                              multifunctionality of modern office environments.
                              Developing new material and
                              <br />
                              molds is also a top priority of our engineering
                              team to ensure that our products can be
                              <br />
                              effectively produced at the highest quality.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="/images/about/rndbg03.jpg"
                          alt="파트라 용인공장"
                        />

                        <div class="inner">
                          <div class="txt01">
                            Global Manufacturing facilities
                          </div>
                          <div class="txt02">
                            <p>
                              Our headquarter factory located in Korea, and our
                              second factory in China are committed to
                              delivering precise, high-quality products to our
                              clients all over the world. We conduct continuous
                              quality inspections and tests in accordance with
                              BIFMA standard at our in-house QC lab in factory
                              to ensure every product meets global safety and
                              durability standards.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--swiper btn-->
                    <div class="swiper-control-btn">
                      <div class="flex">
                        <button
                          class="btn-swiper-prev"
                          type="button"
                          tabindex="-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="42"
                            height="42"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-chevron-left"
                          >
                            <path d="m15 18-6-6 6-6" />
                          </svg>
                        </button>
                        <button
                          class="btn-swiper-next"
                          type="button"
                          tabindex="-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="42"
                            height="42"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-chevron-right"
                          >
                            <path d="m9 18 6-6-6-6" />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="patra-labs rnd-section02">
                  <div class="sub-inner">
                    <div class="scroll">
                      <div class="rnd-processing-wrap flex flex-column">
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 1</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Product
                              <br />
                              Planning
                            </div>
                            <p class="step-info">
                              At Patra’s R&D center, we focus on creating
                              comfortable and safe spaces with our accumulated
                              technological expertise and core competencies in
                              quality.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 2</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Concept
                              <br />
                              Development
                            </div>
                            <p class="step-info">
                              Chair expert manager integrates feedbacks from the
                              technical, production, marketing, and development
                              teams, synthesizing the insights to reach a sound
                              conclusion and define the product concept.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 3</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Directing
                              <br />
                              the Design
                            </div>
                            <p class="step-info">
                              We refine and implement the design concept by
                              establishing the overall layout and structures and
                              finalize the detailed design elements such as
                              tilting lever, mechanism, or armrest types.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                      </div>
                      <div class="rnd-processing-wrap flex flex-column">
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 4</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Design
                              <br />
                              Finalization
                            </div>
                            <p class="step-info">
                              A mock-up is created based on the design concept
                              to ensure that the elements considered in previous
                              stages are properly implemented. We evaluate
                              overall production feasibility and alignment with
                              our other line-ups before finalizing the design.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 5</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Drawing &
                              <br />
                              Modeling
                              <br />
                              with Structural Analysis
                            </div>
                            <p class="step-info">
                              2D drawing and 3D modeling are generated with the
                              finalized design to refine the product’s shape and
                              surface by calculating the dimensional data and
                              curvature values based on thorough structural
                              analysis to verify its integrity and
                              functionality.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 6</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Prototype
                              <br />
                              Development
                              <br />
                              and Testing
                            </div>
                            <p class="step-info">
                              Prototype samples are produced using temporary
                              molds or hand-crafting method to prevent potential
                              issues before entering the production stages. The
                              prototypes undergo thorough tests and refinements
                              to ensure durability.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                      </div>
                      <div class="rnd-processing-wrap flex flex-column">
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 7</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Mold
                              <br />
                              production
                            </div>
                            <p class="step-info">
                              Develop the various types of molds, such ad
                              injection molding or pressing, based on the
                              product’s purpose, specifications and other
                              considerations.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 8</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Pre-
                              <br />
                              Production
                            </div>
                            <p class="step-info">
                              Production is run under actuala mass-production
                              conditions to ensure smooth transition to a mass
                              production and address any potential issues.
                              Various tests are conducted to optimize the
                              manufacturing processes.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 9</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Trial
                              <br />
                              Production
                            </div>
                            <p class="step-info">
                              At this stage, our manufacturing facilities
                              conduct trial production under the same conditions
                              as full-scale mass production but with a slightly
                              reduced output rate.
                            </p>
                          </div>
                          <div class="step-arrow"></div>
                        </div>
                        <div class="step-wrap flex justify-between">
                          <div class="step"><span>step 10</span></div>
                          <div class="flex">
                            <div class="step-nm">
                              Mass
                              <br />
                              Production
                            </div>
                            <p class="step-info">
                              This is the final stage of full-scale production,
                              where all conditions, manufacturing speed, and
                              quantity follow a strictly structured plan and
                              schedule.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="rnd-section03">
                  <div class="sub-inner">
                    <h3
                      class="sub-cont-title"
                      data-aos="fade-up"
                      data-aos-delay="200"
                    >
                      Research Results
                    </h3>
                    <p
                      class="sub-cont-title-info"
                      data-aos="fade-up"
                      data-aos-delay="200"
                    >
                      Patra is leading the state-of-the-art trends in chair
                      industry
                      <br />
                      with innovative technologies,
                      <br />
                      including Korea’s first-ever Mesh-chair Development.
                    </p>

                    <div class="flex research-result">
                      <div
                        class="result-img"
                        data-aos="fade-up"
                        data-aos-delay="300"
                      >
                        <img src="/images/about/rnd03-1.jpg" alt="파트라소개" />
                      </div>
                      <div class="result-text">
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>Korea’s First-Ever Mesh Chair</strong>
                          </p>
                          <p class="text-sub">
                            Patra’s R&D center has pioneered design trends and
                            technologies to provide the top-quality products to
                            our clients. We remain committed to innovation that
                            rooted in our core values – customer’s satisfaction.
                          </p>
                        </div>
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>
                              Considerate Design that Cares for User-Centered
                              Detail
                            </strong>
                          </p>
                          <p class="text-sub">
                            We dedicate to develop the user-centered design,
                            carefully conceals the areas where mesh backrests
                            may expose the user’s body contours using the
                            functional cover, enhancing the privacy while
                            maintaining the benefits of breathable mesh design.
                          </p>
                        </div>
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>
                              Innovative Hexagonal Torsion Bar Development
                            </strong>
                          </p>
                          <p class="text-sub">
                            By replacing the conventional square shaped torsion
                            bar with hexagonal design to provide more
                            flexibility and improved functionality, Patra
                            improved tilting function and seating comfort,
                            creating the best ergonomic seating experience.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="flex research-result">
                      <div
                        class="result-img"
                        data-aos="fade-up"
                        data-aos-delay="300"
                      >
                        <img src="/images/about/rnd03-2.jpg" alt="파트라소개" />
                      </div>
                      <div class="result-text">
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>Korea’s First-Ever Mesh Chair</strong>
                          </p>
                          <p class="text-sub">
                            Patra has innovated the design to create a seamless,
                            modern look for chairs by using high-quality mesh
                            materials, moving beyond conventional
                            fabric-upholstered seats. This innovation not only
                            enhances aesthetic appearance but also maximizes the
                            user comfort, staying dedicated to Patra’s core
                            principle of ergonomic excellence.
                          </p>
                        </div>
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>
                              Challenging the convention to innovate the quality
                              and costsl
                            </strong>
                          </p>
                          <p class="text-sub">
                            We refuse to settle for conventional designs and
                            materials, and continuously push boundaries to
                            innovate the products. In that vein, Patra has
                            developed a new tilting mechanism utilizing the
                            plastic components to reduce the unnecessary weight
                            and costs but not compromising the quality –
                            ultimately providing consumers with more affordable
                            options.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="flex research-result">
                      <div
                        class="result-img"
                        data-aos="fade-up"
                        data-aos-delay="300"
                      >
                        <img src="/images/about/rnd03-3.jpg" alt="파트라소개" />
                      </div>
                      <div class="result-text">
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>Next-Generation Ergonomic Chairs</strong>
                          </p>
                          <p class="text-sub">
                            We have developed an Automatic Forward Posture
                            Support system that adjusts lumbar support using
                            self-weight balance of a linked mechanism between
                            the backrest, seat, and tilt component, integrating
                            the features to ensure users to keep better posture
                            with more comfortable support.
                          </p>
                        </div>
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-sub">
                            Additionally, we always design our chairs with
                            sustainability in mind. By eliminating adhesives and
                            staples while maintain the product safety with our
                            unique technology and design, we maximize
                            recyclability and minimize environmental impact.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="flex research-result">
                      <div
                        class="result-img"
                        data-aos="fade-up"
                        data-aos-delay="300"
                      >
                        <img src="/images/about/rnd03-4.jpg" alt="파트라소개" />
                      </div>
                      <div class="result-text">
                        <div
                          class="text-wrap"
                          data-aos="fade-up"
                          data-aos-delay="300"
                        >
                          <p class="text-title">
                            <strong>
                              Always Committed to Global Quality Standards
                            </strong>
                          </p>
                          <p class="text-sub">
                            Patra conducts thorough quality testing which
                            follows BIFMA standards, ensuring our products
                            comply with global safety standards and
                            environmental regulations. We always adhere to
                            global standards when it comes to durability and
                            sustainability in every chair we develop.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <script src="/js/about.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer" class="footer">
        <div class="footer-inner">
          <div class="flex justify-between">
            <div class="footer-left">
              <div class="footer-logo">
                <img src="/images/patra_f_logo.png" alt="" />
              </div>
              <div class="footer-link">
                <a href="/view/about/history.html">ABOUT US</a>
                <hr
                  class="vertical-bar inline-block border-none w-[1px] h-3 bg-[#666]"
                />
                <a href="/view/contact.html">CONTACT US</a>
              </div>
              <div class="footer-family flex items-center">
                <span>Family site</span>
                <div class="flex items-center korea-logo">
                  <img src="/images/korea.png" alt="" />
                  <a href="https://patrakorea.com/" target="_blank">PATRA</a>
                </div>
                <a href="/view/sitemap.html">Site map</a>
              </div>
            </div>
            <div class="footer-right">
              <div class="flex items-center footer-tel">
                <dl class="flex items-center">
                  <dt>TEL :</dt>
                  <dd>+82-2-469-2214</dd>
                </dl>
                <dl class="flex items-center">
                  <dt>FAX :</dt>
                  <dd>+82-2-469-2216</dd>
                </dl>
              </div>
              <div class="flex items-center">
                <dl class="flex items-center">
                  <dt>E-MAIL :</dt>
                  <dd class="footer-email">
                     
                    <a href="">info@patrainc.com</a>
                     / 
                    <a href="">seoul@patrainc.com</a>
                  </dd>
                </dl>
              </div>
              <p class="footer-address">
                118-22, Wanjangcheon-ro, Namsa-eup, Cheoin-gu,
                <br />
                Yongin-si, Gyeonggi-do, 17121, Republic of Korea
              </p>
            </div>
          </div>
          <p class="footer-copy">
            Copyright © 2025 Patra Inc. All rights reserved.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
